@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
    .bg_mobile {
        background-image: url(../public/assets/bg-mobile.png);
        background-repeat: no-repeat;
        background-size: 100% 100%;
    }

    .bg_desktop {
        background-image: url(../public/assets/bg-desktop.png);
        background-repeat: no-repeat;
        background-size: 100% 50%;
        background-position: left 0 bottom 0;
    }
}

@layer components {
    .icon_bg {
        width: 50px;
        height: 52px;
        border-radius: 8px;
        background-color: black;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .gradient_bg {
        background-image: linear-gradient(to right, hsl(6, 100%, 80%), hsl(335, 100%, 65%));
        background-size: 100% 100%;
        width: 81.5%;
        height: 100%;
        padding: 2px;
        border-radius: 99999px;
    }

    .triangle {
        width: 0;
        height: 0;
        border-bottom: 30px solid transparent;
        border-left: 30px solid transparent;
        border-right: 30px solid white;
        position: absolute;
        right: 0;
        bottom: -30px;
    }
}